In [ ]:
#Aircraft Analysis
#Krishna Niraj Thakur

In [ ]:
#Step 1- Data Loading
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv("sample_aircraft_data.csv")

In [82]:
df.head(1200)

,Model,Manufacturer,Pollution_CO2_g_per_pax_km,Passenger_Capacity,Units_Manufactured,Country_of_Origin,Year_First_Made,Range_km,Wingspan_m,Engine_Count,Engine_Type,Max_Speed_kph,Length_m,Height_m
0,EM183,Embraer,486.40,250,1913,0,2003,7215,48.14,2,2,815,59.73,20.45
1,A655,Airbus,156.71,388,351,3,1984,13074,34.45,2,2,843,34.28,20.98
2,EM663,Embraer,369.76,673,1261,0,1974,5224,58.64,2,1,856,47.21,21.23
3,BD974,Bombardier,55.05,660,1650,1,2005,12505,74.58,2,1,832,66.64,8.44
4,EM415,Embraer,161.87,675,686,0,1998,4254,70.62,2,1,810,68.11,19.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,BD535,Bombardier,129.69,444,748,1,1979,12338,38.61,2,0,921,49.04,22.24
1196,BD298,Bombardier,250.61,280,614,1,1961,6173,35.01,2,2,928,36.65,7.44
1197,BD117,Bombardier,425.59,474,1237,1,2011,14233,40.24,2,0,829,69.80,6.55
1198,B918,Boeing,356.35,175,1561,6,1984,9769,25.00,4,1,931,39.28,9.25
1199,BD226,Bombardier,404.05,773,1656,1,1981,3078,75.00,4,0,963,57.98,17.95

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Model                       1200 non-null   object
 1   Manufacturer                1200 non-null   object
 2   Pollution_CO2_g_per_pax_km  1200 non-null   float64
 3   Passenger_Capacity          1200 non-null   int64
 4   Units_Manufactured          1200 non-null   int64
 5   Manufacturing_Country       1200 non-null   object
 6   Country_of_Origin           1200 non-null   object
 7   Year_First_Made             1200 non-null   int64
 8   Range_km                    1200 non-null   int64
 9   Wingspan_m                  1200 non-null   float64
 10  Engine_Count                1200 non-null   int64
 11  Engine_Type                 1200 non-null   object
 12  Max_Speed_kph               1200 non-null   int64
 13  Length_m                    1200 non-null   float64
 14  Height_m                    1200 non-null   float64
dtypes: float64(4), int64(6), object(5)
memory usage: 140.8+ KB

In [ ]:
df.describe()

,Pollution_CO2_g_per_pax_km,Passenger_Capacity,Units_Manufactured,Year_First_Made,Range_km,Wingspan_m,Engine_Count,Max_Speed_kph,Length_m,Height_m
count,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.00000,1200.000000,1200.000000,1200.000000,1200.000000
mean,272.172642,452.284167,985.610000,1984.502500,8089.680833,50.89225,2.981667,897.245833,50.525300,15.048083
std,129.811479,232.835415,588.388428,20.178354,3890.582663,17.23451,1.000249,58.226317,14.462158,5.079637
min,50.060000,50.000000,10.000000,1950.000000,1511.000000,20.02000,2.000000,800.000000,25.050000,6.040000
25%,162.475000,251.000000,467.000000,1967.750000,4675.000000,36.64500,2.000000,846.000000,38.167500,10.557500
50%,265.615000,458.500000,944.500000,1984.000000,8025.500000,50.80000,2.000000,898.000000,50.825000,15.325000
75%,386.685000,659.000000,1513.000000,2002.000000,11370.250000,65.85000,4.000000,945.000000,63.127500,19.302500
max,499.980000,848.000000,2000.000000,2020.000000,14992.000000,79.98000,4.000000,1000.000000,75.000000,23.980000

In [ ]:
df.isnull().sum()

Model                         0
Manufacturer                  0
Pollution_CO2_g_per_pax_km    0
Passenger_Capacity            0
Units_Manufactured            0
Manufacturing_Country         0
Country_of_Origin             0
Year_First_Made               0
Range_km                      0
Wingspan_m                    0
Engine_Count                  0
Engine_Type                   0
Max_Speed_kph                 0
Length_m                      0
Height_m                      0
dtype: int64

In [ ]:
#It was detected the country of origin of this aircrafts and their Manufacturing country is same so Manufacturing Country data can be dropped.
df.drop("Manufacturing_Country",axis=1,inplace=True)

In [ ]:
# Step 2: Preprocess Data
# Encode categorical column "Country_of_Origin"
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
df['Country_of_Origin'] = label_encoder.fit_transform(df['Country_of_Origin'])

# Encode 'Engine_Type' column
df['Engine_Type'] = label_encoder.fit_transform(df['Engine_Type'])

In [ ]:
x = df.drop(columns=["Pollution_CO2_g_per_pax_km", 'Model', 'Manufacturer'])
y = df.iloc[:,2]

In [ ]:
x

,Passenger_Capacity,Units_Manufactured,Country_of_Origin,Year_First_Made,Range_km,Wingspan_m,Engine_Count,Engine_Type,Max_Speed_kph,Length_m,Height_m
0,250,1913,0,2003,7215,48.14,2,2,815,59.73,20.45
1,388,351,3,1984,13074,34.45,2,2,843,34.28,20.98
2,673,1261,0,1974,5224,58.64,2,1,856,47.21,21.23
3,660,1650,1,2005,12505,74.58,2,1,832,66.64,8.44
4,675,686,0,1998,4254,70.62,2,1,810,68.11,19.48
...,...,...,...,...,...,...,...,...,...,...,...
1195,444,748,1,1979,12338,38.61,2,0,921,49.04,22.24
1196,280,614,1,1961,6173,35.01,2,2,928,36.65,7.44
1197,474,1237,1,2011,14233,40.24,2,0,829,69.80,6.55
1198,175,1561,6,1984,9769,25.00,4,1,931,39.28,9.25
1199,773,1656,1,1981,3078,75.00,4,0,963,57.98,17.95

In [ ]:
y

0       486.40
1       156.71
2       369.76
3        55.05
4       161.87
         ...
1195    129.69
1196    250.61
1197    425.59
1198    356.35
1199    404.05
Name: Pollution_CO2_g_per_pax_km, Length: 1200, dtype: float64

In [ ]:
# Step 4: Split data into training and testing sets (80% train, 20% test)
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.2, random_state=42)

In [80]:
# Step 5: standardize the data to improve model performance
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

xtrain = scaler.fit_transform(xtrain)
xtest = scaler.transform(xtest)

In [ ]:
# Step 18: Train the Support Vector Regression model
from sklearn.svm import SVR
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

svr_model = SVR(kernel='rbf')  # You can experiment with different kernels like 'linear', 'poly', 'sigmoid'
svr_model.fit(xtrain, ytrain)

# Step 19: Make predictions with the SVR model
svr_ypred = svr_model.predict(xtest)

# Step 20: Evaluate the SVR model
svr_mae = mean_absolute_error(ytest, svr_ypred)
svr_mse = mean_squared_error(ytest, svr_ypred)
svr_r2 = r2_score(ytest, svr_ypred)

# Print results for SVR
print("SVR Mean Absolute Error:", svr_mae)
print("SVR Mean Squared Error:", svr_mse)
print("SVR R-squared Score:", svr_r2)

SVR Mean Absolute Error: 109.42743370903354
SVR Mean Squared Error: 16347.386611629654
SVR R-squared Score: 0.0053480769354017355

In [ ]:
# Step 28: Create pollution categories
df['Pollution_Category'] = pd.qcut(df['Pollution_CO2_g_per_pax_km'], q=3, labels=['Low', 'Medium', 'High'])

# Step 29: Separate features (X) and the new target variable (y) for classification
X_cls = df.drop(columns=['Pollution_CO2_g_per_pax_km', 'Pollution_Category', 'Model', 'Manufacturer'])
y_cls = df['Pollution_Category']

# Step 30: Split data into training and testing sets for classification (80% train, 20% test)
from sklearn.model_selection import train_test_split
X_train_cls, X_test_cls, y_train_cls, y_test_cls = train_test_split(X_cls, y_cls, test_size=0.2, random_state=42, stratify=y_cls)

# Step 31: Standardize the classification features
# It's good practice to standardize features for Logistic Regression
from sklearn.preprocessing import StandardScaler

scaler_cls = StandardScaler()
X_train_cls_scaled = scaler_cls.fit_transform(X_train_cls)
X_test_cls_scaled = scaler_cls.transform(X_test_cls)

In [ ]:
# Step 32: Train the Logistic Regression model
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

logreg_model = LogisticRegression(random_state=42, multi_class='auto')
logreg_model.fit(X_train_cls_scaled, y_train_cls)

# Step 33: Make predictions with the Logistic Regression model
y_pred_cls = logreg_model.predict(X_test_cls_scaled)

# Step 34: Evaluate the Logistic Regression model
accuracy_logreg = accuracy_score(y_test_cls, y_pred_cls)
class_report_logreg = classification_report(y_test_cls, y_pred_cls)
conf_matrix_logreg = confusion_matrix(y_test_cls, y_pred_cls)

print("Logistic Regression Accuracy:", accuracy_logreg)
print("\nLogistic Regression Classification Report:\n", class_report_logreg)
print("\nLogistic Regression Confusion Matrix:\n", conf_matrix_logreg)

# Step 35: Train the Random Forest Classification model
from sklearn.ensemble import RandomForestClassifier

rf_cls_model = RandomForestClassifier(random_state=42)
rf_cls_model.fit(X_train_cls_scaled, y_train_cls)

# Step 36: Make predictions with the Random Forest model
y_pred_rf_cls = rf_cls_model.predict(X_test_cls_scaled)

# Step 37: Evaluate the Random Forest model
accuracy_rf_cls = accuracy_score(y_test_cls, y_pred_rf_cls)
class_report_rf_cls = classification_report(y_test_cls, y_pred_rf_cls)
conf_matrix_rf_cls = confusion_matrix(y_test_cls, y_pred_rf_cls)

print("Random Forest Classification Accuracy:", accuracy_rf_cls)
print("\nRandom Forest Classification Classification Report:\n", class_report_rf_cls)
print("\nRandom Forest Classification Confusion Matrix:\n", conf_matrix_rf_cls)

# Step 38: Train the Gradient Boosting Classification model
from sklearn.ensemble import GradientBoostingClassifier

gb_cls_model = GradientBoostingClassifier(random_state=42)
gb_cls_model.fit(X_train_cls_scaled, y_train_cls)

# Step 39: Make predictions with the Gradient Boosting model
y_pred_gb_cls = gb_cls_model.predict(X_test_cls_scaled)

# Step 40: Evaluate the Gradient Boosting model
accuracy_gb_cls = accuracy_score(y_test_cls, y_pred_gb_cls)
class_report_gb_cls = classification_report(y_test_cls, y_pred_gb_cls)
conf_matrix_gb_cls = confusion_matrix(y_test_cls, y_pred_gb_cls)

print("Gradient Boosting Classification Accuracy:", accuracy_gb_cls)
print("\nGradient Boosting Classification Report:\n", class_report_gb_cls)
print("\nGradient Boosting Classification Confusion Matrix:\n", conf_matrix_gb_cls)

/usr/local/lib/python3.11/dist-packages/sklearn/linear_model/_logistic.py:1247: FutureWarning: 'multi_class' was deprecated in version 1.5 and will be removed in 1.7. From then on, it will always use 'multinomial'. Leave it to its default value to avoid this warning.
  warnings.warn(

Logistic Regression Accuracy: 0.4083333333333333

Logistic Regression Classification Report:
               precision    recall  f1-score   support

        High       0.37      0.39      0.38        80
         Low       0.38      0.42      0.40        80
      Medium       0.49      0.41      0.45        80

    accuracy                           0.41       240
   macro avg       0.41      0.41      0.41       240
weighted avg       0.41      0.41      0.41       240


Logistic Regression Confusion Matrix:
 [[31 28 21]
 [32 34 14]
 [20 27 33]]
Random Forest Classification Accuracy: 0.2916666666666667

Random Forest Classification Classification Report:
               precision    recall  f1-score   support

        High       0.28      0.34      0.31        80
         Low       0.27      0.25      0.26        80
      Medium       0.32      0.29      0.30        80

    accuracy                           0.29       240
   macro avg       0.29      0.29      0.29       240
weighted avg       0.29      0.29      0.29       240


Random Forest Classification Confusion Matrix:
 [[27 22 31]
 [42 20 18]
 [26 31 23]]
Gradient Boosting Classification Accuracy: 0.35833333333333334

Gradient Boosting Classification Report:
               precision    recall  f1-score   support

        High       0.36      0.36      0.36        80
         Low       0.35      0.36      0.36        80
      Medium       0.37      0.35      0.36        80

    accuracy                           0.36       240
   macro avg       0.36      0.36      0.36       240
weighted avg       0.36      0.36      0.36       240


Gradient Boosting Classification Confusion Matrix:
 [[29 25 26]
 [29 29 22]
 [23 29 28]]

In [84]:
# Summarize SVR Regression Model Results
print("SVR Regression Model Evaluation:")
print(f"Mean Absolute Error: {svr_mae:.2f}")
print(f"Mean Squared Error: {svr_mse:.2f}")
print(f"R-squared Score: {svr_r2:.4f}")
print("-" * 30)

# Summarize Classification Model Results
print("Classification Model Evaluation:")
print("Logistic Regression:")
print(f"Accuracy: {accuracy_logreg:.4f}")
print("Classification Report:\n", class_report_logreg)
print("-" * 30)

# Comparison and Discussion
print("Model Performance Comparison:")
print("Regression Models:")
print(f"SVR R-squared: {svr_r2:.4f}")
print("The SVR model shows a very low R-squared score, indicating it explains very little variance in pollution levels.")

print("\nClassification Models:")
print(f"Logistic Regression Accuracy: {accuracy_logreg:.4f}")
print("Among the classification models, Logistic Regression achieved the highest accuracy.")

SVR Regression Model Evaluation:
Mean Absolute Error: 109.43
Mean Squared Error: 16347.39
R-squared Score: 0.0053
------------------------------
Classification Model Evaluation:
Logistic Regression:
Accuracy: 0.4083
Classification Report:
               precision    recall  f1-score   support

        High       0.37      0.39      0.38        80
         Low       0.38      0.42      0.40        80
      Medium       0.49      0.41      0.45        80

    accuracy                           0.41       240
   macro avg       0.41      0.41      0.41       240
weighted avg       0.41      0.41      0.41       240

------------------------------
Model Performance Comparison:
Regression Models:
SVR R-squared: 0.0053
The SVR model shows a very low R-squared score, indicating it explains very little variance in pollution levels.

Classification Models:
Logistic Regression Accuracy: 0.4083
Among the classification models, Logistic Regression achieved the highest accuracy.